<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
  </head>
  <body>

    <h1>Her skal vores data-table være :3 </h1>

    <table>
      <tr>
        <td class="row1">Datetime</td>
        <td class="row1">Bottom_val</td>
        <td class="row1">Motion_val</td>
      </tr>
      <tr>
        <td>dato</td>
        <td>1</td>
        <td>0</td>
      </tr>
      <tr>
        <td>dato</td>
        <td>1</td>
        <td>0</td>
      </tr>
      <tr>
        <td>dato</td>
        <td>1</td>
        <td>0</td>
      </tr>
      <tr>
        <td>dato</td>
        <td>1</td>
        <td>0</td>
      </tr>
    </table>

